/*  
dodgerblue #1E90FF
mediumspringgreen #00FA9A
dimgrey dimgrey #696969
#484848
*/

/* Global Styles
-------------------------------- */

img {
  width: 300px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* color: #484848; */
  color: whitesmoke;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  margin: 0;
}

/* Profile
-------------------------------- */
.header-home {
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  text-align: center;
  padding: 40px;
  margin-top: 40px;
}
.navbar-brand {
  font-weight: bolder;
  padding: 5px;
}

.bg-custom {
  background: #484848;
}

/* nav li a {
  color: white;
} */

/* nav li a:hover {
  font-weight: bolder;
  font-size: 17px;
  transition: all 300ms ease;
} */
/* nav a {
  display: block;
  position: relative;
  padding: 0.7em 1;
}

nav li a::after {
  opacity: 3;
  transform: scale(0);
  transform-origin: center;
}

nav li a:hover::after,
nav li a:focus::after {
  transform: scaleX(3);
} */

nav li a {
  font-family: "Fredoka One";
  position: relative;
  color: #000;
  text-decoration: none;
}

nav li a:hover {
  color: #000;
}

nav li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 82%;
  height: 2px;
  bottom: 0;
  left: 2;
  background-color: whitesmoke;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav li a:hover::before {
  transform: scaleX(1);
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

.container {
  padding: 60px 0;
}

/* Projects
-------------------------------- */
.projects {
  background: whitesmoke;
  color: hsl(0, 0%, 28%);
}

.project-float {
  overflow: hidden;
  border-bottom: 1px solid #61d095;
  padding-bottom: 25px;
  padding-top: 15px;
}

.project-float img {
  float: left;
  margin-right: 20px;
}
.project-float h3 {
  margin-top: 0;
}

/* Work Experience
-------------------------------- */
.work-experience {
  background: whitesmoke;
  color: #484848;
}

#workExperienceJobs {
  border-radius: 30px;
  padding: px 1px;
  border: 2px double transparent;
  background-image: linear-gradient(whitesmoke, whitesmoke),
    radial-gradient(circle at top left, #1fd1f9, #b621fe);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.job-item {
  display: grid;
  background-color: whitesmoke;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  margin: 22px;
}

.education {
  background: whitesmoke;
  color: #484848;
}

.college {
  margin: 15px;
}

/* ------ Footer ------ */

footer {
  background: whitesmoke;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.contact-list i {
  color: #606060;
}

.contact-list i:hover {
  /* color: linear-gradient(315deg, #1fd1f9 26%, #b621fe 74%); */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#1fd1f9),
    to(#b621fe)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-list a {
  padding: 20px;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
}
/* Resume.html starts here........ */

.resume-background {
  background: #484848;
}

.resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
