/*  
dodgerblue #1E90FF
mediumspringgreen #00FA9A
dimgrey dimgrey #696969
#484848
*/

/* Global Styles
-------------------------------- */

img {
  width: 300px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #484848;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  margin: 0;
}

/* Profile
-------------------------------- */
header {
  background: #61d095;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
}
.navbar-brand {
  font-weight: bolder;
  padding: 5px;
}

.bg-custom {
  background: #484848;
}

nav li a {
  color: white;
}

nav li a:hover {
  color: #61d095;
  font-weight: bolder;
  font-size: 19px;
  transition: all 500ms ease;
}

.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Projects
-------------------------------- */
.projects {
  background: #484848;
  color: white;
}
.project-float {
  overflow: hidden;
  border-bottom: 1px solid #61d095;
  padding-bottom: 25px;
  padding-top: 15px;
}

.project-float img {
  float: left;
  margin-right: 20px;
}
.project-float h3 {
  margin-top: 0;
}

/* Work Experience
-------------------------------- */
.work-experience {
  background: #484848;
  color: white;
}

.job-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
}

.education {
  background: #484848;
  color: white;
}

/* ------ Footer ------ */

footer {
  background: #61d095;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.contact-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.contact-list i {
  color: #606060;
}

.contact-list i:hover {
  color: #484848;
}

.contact-list a {
  padding: 20px;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
}
